#top-menu {
    background-color: var(--primary-color);
   
  } 
  
  #top-menu a{
    color:white;
    text-decoration: none;
    padding-left: 10px;
    
  }
  .top-img{
    width:24px;
    height: auto;
    padding-right: 5px;;
  }
  #logo{
      height:60px;
      width:60px;
  }
  li.registro{
    display: inline;
  }
  .texto-logo{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
  }
  .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 0;
      align-items: center;
      padding-left: 5%;
      padding-right: 3%;
  }