@import "variables.css";

* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-family: Arial, Helvetica, sans-serif;
}

/* SECCION DE LOGO Y BARRA DE NAVEGACION */

#logo {
  height: 60px;
  width: 60px;
}

.texto-logo {
  font-size: 40px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
}

.above-container {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.above-container .navbar-brand {
  display: flex;
  color: var(--fourty-color);
  text-decoration: none;
}

.above-container .btn {
  color: var(--fourty-color);
  text-decoration: none;
}

.above-container .btn:hover {
  color: #333;
  background-color: var(--fourty-color);
}

.nav-link {
  color: var(--fourty-color);
}

.above-container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  padding-top: 30px;
}

.texto-logo {
  color: var(--fourty-color);
  margin-left: 10px;
}

.btnUsers {
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  width: 100%;
  height: 90px;
  align-content: space-around;
  justify-content: center;
  gap: 50px;
  align-items: flex-end;
  font-size: 20px;
}

/* SECCION DE CARRUSEL DE IMAGENES */
.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: none;
}
.carousel-inner {
  width: 100%;
}

.carousel-item img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 500px;
}
/* SECCION HOME */

.titleSectionProductos {
  text-align: center;
  padding: 30px;
}

@media (max-width: 750px) {
  .titleSectionProductos {
    margin-left: 0;
  }
}

.productosNavCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 15px;
  justify-items: center;
  padding: 10px;
}

.card {
  flex-direction: column;
  justify-content: space-evenly;
}

.card-body {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-start;
  flex: 0;
}

/* SECCION DE NOSOTROS */
.quienes-somos {
  padding: 4% 3% 4% 5%;
  height: auto;
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  color: var(--fourty-color);
}
.quienes-somos h2 {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}
.quienes-somos p {
  font-weight: normal;
  font-size: 1.2rem;
  text-align: justify center;
}

/* SECCION DE CONTACTO */

.contact {
  background: var(--primary-color);
  color: var(--fourty-color);
}

.conteiner_contact {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

.logo_contact {
  font-weight: bold;
  text-align: center;
  font-size: 4.5em;
  text-transform: uppercase;
}

.contact-wrapper > * {
  padding: 0.5em;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

/* FORMULARIO DE CONTACTO */

.contac-form {
  background: var(--secondary-color);
}

.contac-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contac-form form .block {
  grid-column: 1/3;
}

.contac-form form p {
  margin: 0;
  padding: 1em;
}

.contac-form form button,
.contac-form form input,
.contac-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: none;
  color: var(--fourty-color);
  border-bottom: 1px solid var(--primary-color);
}

/* Boton de enviar */

.contac-form .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: var(--primary-color);
  color: var(--fourty-color);
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 0.5em;
  position: relative;
}

.contac-form .button .text {
  transition: 0.4s ease-in-out all;
  position: absolute;
  left: 46%;
}

.contac-form .button .send {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  left: -40px;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}

.contac-form .button .icon_send {
  color: var(--fourty-color);
  width: 20px;
  height: 20px;
}

.contac-form .button .check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transition: 0.3s ease-in-out all;
  opacity: 0;
}

.contac-form .button:hover {
  background-color: #25d366;
}

.contac-form .button:focus .check {
  opacity: 1;
}

.contac-form .button:focus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  border-radius: 50%;
  background-color: #25d366;
  position: relative;
}

.contac-form .button:hover .send {
  left: calc(100% - 40px);
  opacity: 1;
}

.contac-form .button:focus .send {
  opacity: 0;
}

.contac-form .button:hover .text {
  left: 30px;
}

.contac-form .button:focus .text {
  opacity: 0;
}

/* INFORMACION DE CONTACTO */

/* Contactos */

.contact-info {
  background: var(--thirty-color);
}

.contact-info h4,
ul,
.red-info h3 {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info h4 {
  font-size: 1.7em;
}

.contact-info .maps {
  max-width: 80%;
}

.contact-info .maps {
  max-width: 80%;
}
.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  padding: 0.25em;
}

.contact-info .icon_location {
  color: red;
  font-size: 1.15em;
}

.contact-info .icon_whatsapp {
  color: #25d366;
  font-size: 1.15em;
}

.contact-info .icon_envelope {
  color: #285aeb;
  font-size: 1.15em;
}

.icon_clock {
  color: #fcf834;
  font-size: 1.15em;
}

/* Redes Sociales */

.red-info h3 {
  font-size: 1.7em;
}

.redes {
  display: flex;
  column-gap: 25px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.redes .icon_red {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  color: var(--fourty-color);
  border-radius: 50%;
  outline: 2px solid var(--fourty-color);
  transition-property: outline-color, background-color;
  transition-duration: 0.25s;
}

.redes .icon_red:hover {
  outline-offset: 4px;
}

.redes .icon_red:hover {
  animation: shake 0.25s;
}

.redes .icon_instagram:hover {
  background-image: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  outline-color: #a02d76;
}

.redes .icon_facebook:hover {
  background-color: #3b5998;
  outline-color: #3b5998;
}

.redes .icon_X:hover {
  background-color: #1f2124;
  outline-color: #1f2124;
}

@media (max-width: 750px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575px) {
  .conteiner_contact {
    max-width: 100%;
  }

  .logo_contact {
    font-size: 2.5em;
  }

  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}
/* FIN SECCION DE CONTACTO */

/*INICIO PIE DE PAGINA*/
.PIEDEPAGINA {
  width: 100%;
  background-color: #da5000;
}
img {
  width: 250px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
span {
  font-size: 12px;
}
.fb {
  background-color: rgb(0, 29, 190);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.tw {
  background-color: rgb(48, 47, 48);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.insta {
  background-color: rgb(255, 0, 179);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.tk {
  background-color: rgb(0, 0, 0);
  padding: 8px;
  border-radius: 50px;
  color: white;
}
.vi {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 50px;
  color: rgb(9, 9, 244);
}
.ms {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 18px;
  color: rgb(255, 0, 0);
}
.amx {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 18px;
  color: rgb(0, 181, 253);
}
.pay {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 18px;
  color: rgb(2, 61, 163);
}
.btc {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 18px;
  color: rgba(255, 94, 0, 0.769);
}
.wsp {
  background-color: rgb(45, 184, 45);
  padding: 8px;
  border-radius: 18px;
  color: rgba(255, 255, 255, 0.769);
}
.mail {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 18px;
  color: rgba(7, 0, 201, 0.769);
}
.PIEDEPAGINA .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
.PIEDEPAGINA .grupo-1 .box h2 {
  color: black;
  margin-bottom: 10px;
  font-size: 20px;
}
.PIEDEPAGINA .grupo-2 {
  background-color: #494949;
  padding: 15px 10px;
  text-align: center;
  color: black;
}
.PIEDEPAGINA .grupo-2 small {
  font-size: 15px;
}
@media screen and (max-width: 800px) {
  .PIEDEPAGINA .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

/*FIN PIE DE PAGINA*/

/*INICIO FORMULARIO DE INGRESO*/

#titulo {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: bold;
  background-color: #494949;
  text-align: center;
  font-size: 60px;
  margin: 0%;
}

#formularioIngreso {
  background-color: #494949;
  font-family: "Roboto", sans-serif;
  color: black;
}

#text {
  background-color: #494949;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#Ingresar {
  background-color: #da5000;
  color: black;
  bottom: auto;
  text-align: center;
}

#contraseña {
  color: black;
  font-family: "Roboto", sans-serif;
}

#titulo {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  font-weight: bold;
  background-color: #494949;
  text-align: center;
  font-size: 60px;
  margin: 0%;
}
#formularioIngreso {
  background-color: #494949;
  font-family: "Roboto", sans-serif;
  color: black;
}

#text {
  background-color: #494949;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#formularioIngreso {
  background-color: #494949;
  font-family: "Roboto", sans-serif;
  color: black;
}

#text {
  background-color: #494949;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
}

#Ingresar {
  background-color: #da5000;
  color: black;
  bottom: auto;
  text-align: center;
}

#contraseña {
  color: black;
  font-family: "Roboto", sans-serif;
}
