.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: #f4f2f2;
}
aside {
    padding: 2rem;
    color: var(--secondary-color);
    position: sticky;
    top:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}
.boton-menu.active {
    background-color: #fff;
    color: var(--primary-color);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}
.boton-carrito {
    margin-top: 2rem;
}

.numerito {
    background-color: #fff;
    color: var(--primary-color);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito {
    background-color: var(--primary-color);
    color: #fff;
}

.contenedor-productos { 
    display:flex;
    flex-direction: column;
    background-color:#fff;
    margin: 1rem;
    border-radius:2rem ;
    padding: 2rem;
   
}

.titulo-principal {
    color: var(--primary-color);
}

.contenedor-de-productos {
    display:flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex;
    flex-wrap: nowrap;
}

.productos{
    border-radius:1rem;
    border: solid 3px grey;
    overflow: hidden;
    width: 250px;
    
}
.producto-imagen {
    width:250px;
    height:180px;
    padding:10px;
}

.producto-detalles {
    background-color: silver;
    color:#fff;
    padding: 0.5rem;
}
.producto-titulo{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}
.producto-precio {
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: bold;
}
.producto-agregar {
    border: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    transition: background-color .2s, color .2s;
}
.producto-agregar:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* CARRITO */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado {
    color: var(--primary-color);
}
.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f2f2;
    color: var(--primary-color);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}
.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: #f38148;
    padding: 1rem;
    border-radius: 1rem;
    color: #f4f2f2;
    text-transform: uppercase;
    cursor: pointer;
}
.carrito-acciones-derecha {
    display: flex;
}
.carrito-acciones-total {
    display: flex;
    background-color: #f4f2f2;
    padding: 1rem;
    color: var(--primary-color);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}
.carrito-acciones-comprar {
    border: 0;
    background-color: #f38148;
    padding: 1rem;
    color: #f4f2f2;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}